/* Mobile */
body {
    background-image: url(../images/fondo-portrait.jpg);
    background-repeat: no-repeat;
    font-family: 'Alegreya', serif;
}
header {
    background: linear-gradient(to right, transparent, black, transparent);
    opacity: 0.5;
}
.logo {
    max-height: 82%;
    padding-top: 8px;
    padding-left: 6px;
}
#presentacion {
    width: 71%;
}
#mapa {
    width: 100% !important;
    position: absolute;
    bottom: 38px;
    top: 58px;
    background-color: transparent;
    opacity: 0;
}
.panel {
    position: absolute;
    top: 50%;
    background-color: #b9a872;
    /*font-family: 'PT Serif', serif;*/
    bottom: 0;
    z-index: 1000;
    width: 100%;
}
.panel-cerrado {
    position: absolute;
    background-color: #b9a872;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    height: 95px;
}
.buscar {
    position: absolute;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 45px;
    height: 35px;
    width: 72%;
    padding: 2px 2px 2px 10px;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #9E9E9E;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Alegreya', serif;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
.leaflet-bar a {
    color: white !important;
    background-color: rgba(42, 25, 7, 0.7) !important;
}
.leaflet-bar a:hover {
    color: white !important;
    background-color: rgba(100, 100, 100, 0.7) !important;
}
.leaflet-container .leaflet-control-attribution, .leaflet-container .leaflet-control-scale {
    font-family: 'Alegreya', serif;
}
#barraNav {
    height: 58px !important;
    color: #868686 !important;
    text-transform: capitalize;
    font-family: 'Alegreya', serif;
}
#presentacion {
    box-shadow: 0px 20px 20px 6px rgba(0,0,0,0.2), 20px 15px 20px 0 rgba(0,0,0,0.19);
}
.w3-bar a  {
    color: white;
}
.w3-button:hover {
    transition: background-color .3s;
}
.fondoGradiente {
    color: #c9c3b7 !important;
    background: rgba(42, 25, 7, 1);
    background: -moz-linear-gradient(left, rgba(42, 25, 7, 1) 0%, rgba(107, 63, 18, 0.8) 32%, rgba(42, 25, 7, 0.8) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(42, 25, 7, 1)), color-stop(32%, rgba(107, 63, 18, 0.8)), color-stop(100%, rgba(42, 25, 7, 0.8)));
    background: -webkit-linear-gradient(left, rgba(42, 25, 7, 1) 0%, rgba(107, 63, 18, 0.8) 32%, rgba(42, 25, 7, 0.8) 100%);
    background: -o-linear-gradient(left, rgba(42, 25, 7, 1) 0%, rgba(107, 63, 18, 0.8) 32%, rgba(42, 25, 7, 0.8) 100%);
    background: -ms-linear-gradient(left, rgba(42, 25, 7, 1) 0%, rgba(107, 63, 18, 0.8) 32%, rgba(42, 25, 7, 0.8) 100%);
    background: linear-gradient(to right, rgba(42, 25, 7, 1) 0%, rgba(107, 63, 18, 0.8) 32%, rgba(42, 25, 7, 0.8) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2a1907', endColorstr='#2a1907', GradientType=1);
}
.btnCategorias {
    width: 38% !important;
    height: 48px;
    vertical-align: middle;
    display: initial;
    padding: 4px 4px;
}
.btnArgentina {
    color: #c9c3b7;
    background-color: #8d6d47;
}
.btnProvincias {
    color: #c9c3b7;
    background-color: #be8059;
}
.btnTerritorios {
    color: #705e52;
    background-color: #8a9664;
}
.btnCiudades {
    color: #705e52;
    background-color: #e0aa63;
}
.menu-categorias {
    width: 100%;
    height: 38px;
    font-family: 'PT Serif', serif;
    font-weight: bold;
    margin: auto;
    text-align: center;
}
.pagination {
    display: table;
    width: 10%;
    padding: 0;
    margin-top: 10px;
}
.pagination li {
    border: none;
    outline: 0;
    padding: 10px 10px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: rgba(123, 85, 40, 0.6);
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.pagination li:hover {
    background-color: white;
}
.pagination a:hover {
    color: grey;
}
.galeria {
    display: flex;
    height: 84%;
}
.list {
    display: flex;
    overflow: auto;
    margin-top: 17%;
    margin-bottom: 0;
    width: 100%;
    padding-left: 5px;
}
.list li {
    color: transparent;
    text-align: left;
    display: inline-block;
}
.list img {
    height: 100%;
    padding: 5%;
    cursor: pointer;
}
.list img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.list div {
    /*
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    */
    width: 100px;
}
.btn-limpiar {
    position: absolute;
    right: 21%;
    top: 14px;
    font-family: arial;
    color: black;
    background-color: transparent;
    border: none;
    outline: 0;
}
.abrirCerrar {
    border-radius: 5%;
    background-color: #C98E6F;
    margin-top: 9px;
    margin-right: 8px;
}
.panel-datos {
    background-color: #b9a872;
    font-family: 'Alegreya', serif;
    font-size: small;
    color: black;
    z-index: 1000;
}
.panel-datos td {
    vertical-align: middle;
}
.panel-datos td:first-child {
    padding-left: 8px;
}
#nro-orden {
    font-size: x-large;
    font-weight: bold;
    color: #d14e38;
    font-family: arial;
    border-top: 2px solid #d14e38;
    border-bottom: 2px solid #d14e38;
    width: 30px;
    height: 100%;
    margin: 0 10px;
    display: table-cell;
    vertical-align: middle;
}
#titulo {
    text-align: center;
    font-weight: bold;
}
#inventario {
    text-align: left;
    font-weight: bold;
}
#mySidebar {
    display: none;
}
.active {
    border: 1px solid #ccc!important;
}

/* Desktop */
@media only screen and (min-width: 770px) {
    * {
        /*cursor: url(../images/cursor.png), auto;*/
    }
    body {
        background-image: url(../images/fondo-landscape.jpg);
        background-position-x: right;
        /*
        background-position-y: center;
        */
    }
    .w3-tooltip {
        position: unset !important;
    }
    .w3-tag {
        background-color: rgba(42, 25, 7, 0.85) !important;
    }
    #myNavbar {
        line-height: 3.5;
    }
    .logo {
        max-height: 90%;
        padding-top: 8px;
        padding-left: 110px;
        /*padding-right: 40px;*/
    }
    #barraNav {
        height: 88px !important;
        /*vertical-align: middle !important*/;
    }
    #presentacion {
        width: 35%;
        left: 55%;
    }
    .buscar {
        /*width: 94%;*/
        position: relative;
    }
    .w3-bar a  {
        font-size: large;
        height: 57px !important;
        padding: 0 16px;
        /* margin-top: 15px; */
    }
    .panel {
        top: 120px;
        width: 335px !important;
        height: 500px;
        /*bottom: 5% !important;*/
        margin-left: 15px;
        border: 0 !important;
    }
    .menu-categorias {
        position: relative;
        height: 35px;
        margin-top: 5%;
    }
    .btnCategorias {
        width: 25%;
        height: 35px;
        vertical-align: middle;
        /*display: table-cell;*/
        padding: 4px 4px !important;
    }
    .galeria {
        display: inherit;
        height: 80%;
    }
    .pagination {
      display:inline-block;
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 0;
      width: 100%;
      text-align: center;
    }
    .pagination li {
        display:inline-block;
        padding: 2px 2px;
    }
    .list {
        display: inline-block;
        height: 98%;
        overflow: auto;
        margin-bottom: 0;
        margin-top: 0;
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
    }
    .list li {
        color: transparent;
        text-align: left;
        height: 100px;
        /*width: 50%;*/
        display: inline-block;
    }
    .list img {
        height: 80%;
        padding: 5%;
    }
    .btn-limpiar {
        position: absolute;
        right: 5%;
        top: 65px;
        font-family: arial;
        color: black;
        background-color: transparent;
        border: none;
        outline: 0;
    }
    .btn-limpiar:hover {
        color: orange;
    }
    .abrirCerrar {
        display: none;
    }
    .panel-datos {
        bottom: 50px;
    }
    .btn-datos, .btn-datos-close {
        display: inline-block;
    }
    #notas {
        text-align: justify;
        padding: 10px;
    }
    #mapa {
        bottom: 0;
        top: 88px;
    }
}
@media only screen and (min-width: 1680px) {
    body {
        background-image: url(../images/fondo-landscape.jpg);
        background-size: cover;
        background-position-x: right;
    }
}